*{
	font-family: $body_font;
}
img{
	width: 100%;
	height: auto;
}
nav{
	z-index: 2222;
	background-color: transparent;
	box-shadow: none;
}
h5{
	font-family: $body_serif;
}
.navbar-fixed{
	position: absolute;
}
.waves-effect.waves-light.btn{
	background-color: $color_rosado;
}
.slider{
	z-index: -111;
}
.contenedor{
	margin: -50px 20px 5px 20px;
	z-index: 1111111;
	background-color: white;
	border-radius: $radio;
	.parrafo{
		@include parraf();
	}
	.trio{
		text-align: center;
		i{
			font-size: 60px;
		}
		i.module{
			color: $color_rosado;
		}
		i.list{
			color: #00BCD4;
		}
		i.headlike{
			color: #4CAF50;
		}
		p{
			color: $color_grisclaro;
		}
		h6{
			font-family: $body_serif;
			font-weight: bold;
		}
	}
	.who{
		background-image: url("../img/img_city.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		color: white;
		padding: 30px;
		h1{
			font-family: $body_serif;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
	.video{
		text-align: center;
	}
	iframe{
		border: 1px solid white;
		margin-top: 20px;
	}
	.productos{
		background-color: #F0F0F0;
		padding: 30px 10px;
		text-align: center;
		p{
			@include parraf();
		}
		h1{
			font-family: $body_serif;
		}
		h6{
			color: $color_rosado;
		}
		h5{
			font-size: 22px;
		}
	}
	.fashion{
		@include fashion();
		.precio{
			display: flex;
			justify-content: space-between;
		}
	}
	.portafolio{
		text-align: center;
		p{
			@include parraf();
		}
		h1{
			font-family: $body_serif;
		}
		.row1{
			padding: 10px;
			border-radius: $radio;
			position: relative;
			img{
				width: 100%;
				height: auto;
				border-radius: $radio;
			}
			.hover{
				position: absolute;
				top: 20px;
				left: 20px;
			}
			
		}
	}
	.team{

	}
	.plans{
		background-color: #F0F0F0;
		.dolar{
			font-size: 50px;
		}
		sup { 
			vertical-align: top; 
			font-size: 30px; 
		}
		sub { 
			font-size: 30px; 
			padding-bottom: 5px;
		}
	}
	.clients{
		text-align: center;
	}
	.subscribe{
		background-image: url("../img/about.jpg");
		background-size: cover;
		text-align: center;
		.sub{
			background-color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}