nav{
	z-index: 2222;
	background-color: transparent;

}
.navbar-fixed{
	position: absolute;
}
.slider .slides{
	height: 80vh;
}
#slid{
	height: 80vh;
}
.waves-effect.waves-light.btn{
	background-color: $color_rosado;
}